NEXT_PUBLIC_SUPABASE_URL=https://setfnheqbtoocqzuhauu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNldGZuaGVxYnRvb2NxenVoYXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMzE0NzksImV4cCI6MjA4NjgwNzQ3OX0.8-L8c-YjhaygK4UZdQ5eaBJ2HvgsBDrElXKpmipPJiI